{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "ignorePatterns": ["temp.js", "node_modules/", "__generated"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    },
    "rules": {
        "no-console": "error",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "prefer-destructuring": ["warn", {
            "VariableDeclarator": {
                "array": false,
                "object": true
            },
            "AssignmentExpression": {
                "array": false,
                "object": false
            }
        }],
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "error",
        "class-methods-use-this": "off",
        "lines-between-class-members": "off",
        "no-useless-constructor": "off",
        "no-underscore-dangle": "off",
        "object-shorthand": "off",
        "prefer-template": "warn",
        "radix": "off",
        "spaced-comment": "off",
        "no-plusplus": "off",
        "@typescript-eslint/consistent-type-assertions": "off",
        "@typescript-eslint/no-unused-vars": ["error", {
            "argsIgnorePattern": "^_"
        }],
        "no-invalid-this": "error",
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "guard-for-in": "off",
        "consistent-return": "warn",
        "no-continue": "off",
        "no-param-reassign": ["error", { "props": false }],
        "no-async-promise-executor": "error",
        "@typescript-eslint/adjacent-overload-signatures": "error",
        "@typescript-eslint/class-name-casing": "warn"
    }
}
